<div class="hero-unit">
    <div class="center">
        <h1>Webcam directive demo</h1>
        <h3>Depends on <a href="http://angularjs.org" target="_blank">angularjs</a></h3>
        <p>Directive based on the <a href="http://www.webrtc.org/" target="_blank">WebRTC</a> API. Specifically the <pre>navigator.getUserMedia()</pre><a href="http://caniuse.com/stream" target="_blank">Which browsers are supported?</a></p>
    </div>
    <div class="center">
        <a class="btn btn-large btn-primary" href="#/demo">
            Start the demo
        </a>
    </div>
    <div class="center">
        <a class="btn btn-large btn-primary" href="https://github.com/jonashartmann/webcam-directive">
            <i class="icon-github"></i>&nbsp;Source on Github
        </a>
        <a href="https://raw.github.com/jonashartmann/webcam-directive/1.0.0/dist/1.0.0/webcam.min.js" target="_blank" class="btn btn-large btn-success download">
            <i class="icon-download-alt icon-large"></i>&nbsp;Download v1.0.0
        </a>
    </div>
</div>
